body{
  margin: 0;
}
.left-aside{
  width: 260px;
  position: fixed;
  top:0;
  bottom: 0;

  left:0;
  background: #000;
  transition-delay: .1s
}
.right-aside{
  margin-left: 260px;
  width: calc(100% - 260px);
  transition-duration: .1s;
}
.small-sidebar.left-aside{
  width: 100px;
    transition-duration: .1s;
}
.right-aside.large-width{
  margin-left: 100px;
  width: calc(100% - 100px);
  transition-duration: .1s;

}
